[Desktop Entry]
Categories=Application;Development;
Comment=Perforce Administration Tool
Encoding=UTF-8
Exec={{ preforce_install_folder | expanduser }}/bin/p4admin
Icon=p4admin
Name=Perforce Administration Tool
Type=Application
