[Desktop Entry]
Categories=Application;Development;
Comment=Perforce Merge
Encoding=UTF-8
Exec={{ preforce_install_folder | expanduser }}/bin/p4merge
Icon=P4-Merge
Name=Perforce Merge
Type=Application
