[Desktop Entry]
Name=Git GUI
Comment=The original Git GUI
TryExec=git
Exec=git gui
Icon=/usr/share/gitweb/static/git-favicon.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;RevisionControl;
X-KDE-SubstituteUID=false
