[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA
Icon={{ intellij_install_folder | expanduser }}/bin/idea.png
Exec="{{ intellij_install_folder | expanduser }}/bin/idea.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
