[http]
    sslVerify = false
[merge]
    tool = p4merge
[mergetool]
    keepBackup = false
[diff]
    tool = p4merge
[difftool]
    prompt = false
[core]
    whitespace = cr-at-eol,trailing-space,tab-in-indent,tabwidth=4
    autocrlf = input
[push]
    default = simple
[user]
    name = {{ git_user }}
    email = {{ git_mail }}
