[http]
    sslVerify = false
[merge]
    tool = p4merge
[mergetool "p4merge"]
    cmd = p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
    trustExitCode = false
[diff]
    external = p4diff
[user]
    name = {{ git_user }}
    email = {{ git_mail }}
[core]
    whitespace = cr-at-eol,trailing-space,tab-in-indent,tabwidth=4
    autocrlf = input
