[core]
    whitespace = cr-at-eol,trailing-space,tab-in-indent
    autocrlf = input
[diff]
    tool = p4merge
[difftool]
    prompt = false
[merge]
    tool = p4merge
[mergetool]
    keepBackup = false
[push]
    default = simple
[pull]
    rebase = true
[user]
    name = {{ git_user }}
    email = {{ git_mail }}
