[Desktop Entry]
Categories=Application;Development;
Comment=Eclipse Installer
Encoding=UTF-8
Exec=env SWT_GTK3=0 GTK2_RC_FILES="/usr/share/themes/Lubuntu-default/gtk-2.0/gtkrc:.themes/eclipse-compact/gtk-2.0/gtkrc" {{ eclipse_installer_folder | expanduser }}/eclipse-inst
Icon=oomph
Name=Eclipse Installer
Type=Application
