[Desktop Entry]
Categories=Application;Development;
Comment=Eclipse Installer
Encoding=UTF-8
Exec={{ eclipse_installer_folder | expanduser }}/eclipse-inst
Icon=oomph
Name=Eclipse Installer
Type=Application
