<?xml version="1.0" encoding="UTF-8"?>
<setup:ProjectCatalog
    xmi:version="2.0"
    xmlns:xmi="http://www.omg.org/XMI"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:setup="http://www.eclipse.org/oomph/setup/1.0"
    name="local.ide"
    label="Integrated Development Environments">
  <setupTask
      xsi:type="setup:WorkspaceTask"
      id="workspace"/>
{% for project_setup_file in project_setup_files %}
  <project href="file:{{ project_setup_file }}#/"/>
{% endfor %}
  <description>All available IDE configurations</description>
</setup:ProjectCatalog>
